[submodule "vim"]
	path = vim
	url = https://github.com/mmerickel/vim-settings.git
	branch = master
[submodule "zprezto"]
	path = zprezto
    url = https://github.com/sorin-ionescu/prezto.git
	branch = master
[submodule "sandboxd"]
	path = sandboxd
	url = https://github.com/benvan/sandboxd.git
